<div class="font-custom bg-custom text-white p-4 md:p-0 md:pl-6 md:pr-6 md:mt-8">
    <div class="About flex md:flex-row flex-col gap-y-14 md:gap-x-16 max-w-[1120px] mr-auto ml-auto pt-5 pb-5">
      <div class="first">
        <h2 class="text-2xl md:text-3xl font-prata">
          A co-founder at one of the worlds's largest communities.
        </h2>
        <p class="opacity-[0.7]">
          The combined experience I have working at the top Fortune 500
          companies has allowed me to develop a skillset that helps me in not
          just development, but in every aspect of any business.
        </p>
        <p class="opacity-[0.7]">
          I'm proud to announce that I am now working at one of the world's
          largest communities teaching young minds about how to
          <span>sell</span> yourself as a developer and open them to a whole new
          world of opportunities.
        </p>
      </div>
      <div class="second">
        <p class="opacity-[0.7]">
          As a developer, you have everything available to you and all that's
          holding you back is yourself.
        </p>
        <p class="opacity-[0.7]">
          A quote I live by perfectly illustrates what I mean.
        </p>
        <p class="opacity-[0.7]">
          "How big would you dream, if you <span>knew</span> you wouldn't fail?"
          You've already gone through the hardest parts of being a developer,
          it's time to elevate your skills and become a leader in something
          you're <span>passionate</span> about.
        </p>
        <p class="opacity-[0.7]">
          I'm happy to chat over coffee some time about how I can help your
          company.
        </p>
      </div>
    </div>
  </div>