<div class="hero">
    <div class="hero-content max-w-md mb-10 md:mb-14">
      <h1 class="text-2xl md:text-4xl font-prata">
        Helping companies build better, scalable software.
      </h1>
      <p class="opacity-[0.6] text-sm  mt-2">
        Award-winning web developer and author with over 15+ years of working
        experience with Fortune 500 companies like Apple, Google, Facebook, and
        more.
      </p>
    </div>

    <div class="companies grid grid-cols-2 items-center justify-items-center gap-y-4 gap-x-[2px] md:flex md:justify-between">
      <img src="Assets/Logos/Walmart.svg" class="w-[5rem] mr-[-1rem] md:m-[initial]" alt="" /><img
        src="Assets/Logos/JP Morgan.svg" class="w-[5rem] ml-[-2rem] md:m-[initial]"
        alt=""
      /><img src="Assets/Logos/Visa.svg" class="w-[3.5rem] mr-[-2.7rem] md:m-[initial]" alt="" /><img
        src="Assets/Logos/Tinder.svg" class="w-[5rem] ml-[-2rem] md:m-[initial]"
        alt=""
      /><img src="Assets/Logos/Samsung.svg" class="w-[6.5rem] mr-[-3rem] md:m-[initial]" alt="" /><img
        src="Assets/Logos/Verizon.svg" class="w-[5rem] ml-[1.5rem] md:m-[initial]"
        alt=""
      />
    </div>
  </div>