<nav
      class="md:flex md:justify-between md:items-center md:flex-wrap md:flex-auto"
    >
      <div class="logo w-full flex justify-between items-center md:w-auto">
        <span class="font-prata md:pl-2 whitespace-nowrap [word-spacing:-1px]"
          >Ankit Raj</span
        >
        <img
          src="Assets/Hamburger Menu.svg"
          class="menu md:hidden p-2 w-[33px]"
          alt=""
        />
      </div>
      <ul
        class="opacity-[0.7] mt-6 md:mt-auto list flex md:gap-x-7 flex-col md:flex-row gap-y-4 mb-5 md:mb-auto md:flex"
      >
        <li class="hover:text-yellow-300 cursor-pointer">Articles</li>
        <li class="hover:text-yellow-300 cursor-pointer">Chats</li>
        <li class="hover:text-yellow-300 cursor-pointer">Awards</li>
        <li class="hover:text-yellow-300 cursor-pointer">About</li>
      </ul>
      <button
        class="btn w-full md:w-auto font-prata text-xs bg-yellow-300 hover:bg-yellow-400 text-black p-2 pr-3 pl-3 rounded-[1px] md:block"
      >
        Get in touch
      </button>
    </nav>