<div class="project md:flex md:gap-x-16">
    <div class="project w-full mb-9">
      <img src="Assets/Spense.png" alt="" />
      <h2 class="text-2xl md:text-3xl mt-4 mb-3 md:mt-5 md:mb-4 font-prata">
        Spense.com
      </h2>
      <p class="opacity-[0.7]">
        Rethinking the way writers get paid, an open-source platform designed
        to help writers focus more on writing, and less on when and how
        they'll get paid. Project in collaboration with Codewell.cc
      </p>
    </div>
    <div class="project w-full">
      <img src="Assets/YelpCamp.png" alt="" />
      <h2 class="text-2xl md:text-3xl mt-4 mb-3 md:mt-5 md:mb-4 font-prata">
        YelpCamp.com
      </h2>
      <p class="opacity-[0.7]">
        Rethinking the way writers get paid, an open-source platform designed
        to help writers focus more on writing, and less on when and how
        they'll get paid. Project in collaboration with Codewell.cc
      </p>
    </div>
  </div>