<div class="card-front">
  <img class="card-image" src="images/bg-card-front.png" alt="" />
  <div class="card-content">
    <img class="card--logo" src="images/card-logo.svg" alt="" />
    <div class="card--numbers">
      <span class="first-four">0000</span>
      <span class="second-four">0000</span>
      <span class="third-four">0000</span>
      <span class="last-four">0000</span>
    </div>
    <div class="card--details">
      <span class="name">JANE APPLESEED</span>
      <span>00/00</span>
    </div>
  </div>
</div>