<nav class="nav container">
  <div class="nav__list">
    <div class="logo">
      <img class="menu" src="images/icon-menu.svg" alt="">
      <img src="images/logo.svg" alt=""></div>
    <ul class="list">
      <li>Collections</li>
      <li>Men</li>
      <li>Women</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>

  <div class="nav__images">
    <img class="cart" src="images/icon-cart.svg" alt="">
    <div class="user_avatar"><img src="images/image-avatar.png" alt=""></div>
  </div>
</nav>